* {
  html {
  scroll-behavior: smooth;
}
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f5f7fa;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0d6efd;
  color: white;
  padding: 15px 60px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links li {
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover {
  color: #ffd43b;
}

.login-btn {
  padding: 10px 20px;
  border: none;
  background: #ffffff;
  color: #0d6efd;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background: #ffd43b;
  color: black;
}

.hero {
  height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?auto=format&fit=crop&w=1600&q=80");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 80px;
}
.hero-content h1 {
  font-size: 64px;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
  text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.9);
}

.hero-content p {
  font-size: 24px;
  color: white;
  margin-bottom: 30px;
  text-shadow: 1px 1px 8px black;
}

.hero-content p {
    font-size: 24px;
    color: white;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 1.6;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}


.search-section {
  background: #f5f7fa;
  padding: 80px 60px;
  margin-top: -120px;
  position: relative;
  z-index: 10;
}
.search-section h2 {
  font-size: 36px;
  color: #0d6efd;
  margin-bottom: 35px;
}

.search-box {
  background: white;
  max-width: 1100px;
  margin: auto;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

  display: flex;
  justify-content: center;
  align-items: end;
  gap: 20px;
  flex-wrap: nowrap;
}

.input-box {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.input-box label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.input-box input {
  width: 180px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.search-btn {
  padding: 12px 30px;
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.search-btn:hover {
  background: #084298;
}
.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-link:hover {
  color: #ffd43b;
}